@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(28 25 23);
  --foreground: rgb(244 244 245);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
